.food {
    background-image: url(images/food.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50%;
}

.mario {
    background-image: url(images/mario.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50%;
}

.square {
	width: 100%;
	height: 100%;
    border-style: dotted;
	border-width: 1px;
}